---
import HorizontalScrollContainer from '../layouts/HorizontalScrollContainer.astro';
---

<HorizontalScrollContainer>
  <section
    id="hero"
    class="flex-shrink-0 w-screen h-screen scroll-snap-align-center"
  >
    <!-- Hero section -->
    <div
      class="flex items-center justify-center h-full parallax"
      style="background-image: url('/background-1.jpg');"
    >
      <div class="bg-red-700 w-11/12 h-2/6">
        <h1 class="text-4xl font-bold text-white">Your Name</h1>
      </div>
    </div>
  </section>

  <section
    id="about"
    class="flex-shrink-0 w-screen h-screen scroll-snap-align-center"
  >
    <!-- About Me section -->
    <div class="flex items-center justify-center bg-gray-700 text-white h-full">
      <h2 class="text-3xl font-bold">About Me</h2>
    </div>
  </section>

  <section
    id="work"
    class="flex-shrink-0 w-screen h-screen scroll-snap-align-center"
  >
    <!-- Projects section -->
    <div class="flex items-center justify-center bg-gray-500 text-white h-full">
      <h2 class="text-3xl font-bold">My Work</h2>
    </div>
  </section>

  <section
    id="contact"
    class="flex-shrink-0 w-screen h-screen scroll-snap-align-center"
  >
    <!-- Contact section -->
    <div class="flex items-center justify-center bg-gray-300 text-black h-full">
      <h2 class="text-3xl font-bold">Contact</h2>
    </div>
  </section>
</HorizontalScrollContainer>
